html{
  height: 100%;
  background: radial-gradient(circle, white 20%, #DCDCDC);
	font: bold 14px Arial, sans-serif;
}

#calc{
  height: 350px;
  width: 350px;
  position: absolute;;
  left: 500px;
  top: 50px;
  background: linear-gradient(#B0C4DE,  #E6E6FA);
  box-shadow: inset 0px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

#disp{
  position: absolute;
  top: 20px;
  left: 23px;
  float: right;
  height: 40px;
  width: 300px;
  border-radius: 4px;
	box-shadow: inset 0px 2px rgba(0, 0, 0, 0.2);
  background: #4682B4;
  text-align: right;
  color: white;
  font: bold 24px Arial, sans-serif;

}

.number{
position: relative;
top: 120px;
left: 40px;
height: 50px;
width: 50px;
border-radius: 3px;
font-size: 24px;
background:#E6E6FA;
}

.operation{
  position: relative;
  top: 140px;
  left: 40px;
  height: 50px;
  width: 50px;
  border-radius: 3px;
  font-size: 24px;
  background: #FFF0F5;
}

.reset{
position: relative;
top: -40px;
right: 230px;
height: 50px;
width: 50px;
border-radius: 3px;
background: #FF4500;
font-size: 24px;
}

#equally{
  position: relative;
  right: 230px;
  height: 50px;
  top: 140px;
  left: 40px;
  height: 50px;
  width: 50px;
  border-radius: 3px;
  font-size: 24px;
  background: #32CD32;
}
